  {% extends "index.html" %}
  {% block content %}
  <div class="wap">
    <div id="slider">
      <div class="slider-view all-video">
        <div class="all-video_title">
          <img src="{{url_for('static', filename='allvideos_3.png')}}" alt="title" />
        </div>
        <div class="slider-container all-video_container all-video_topSpace">
          <div class="all-video_container_nav">
            <a href="">
              <img src="{{url_for('static', filename='top.png')}}" alt="top" />
            </a>
          </div>
          <div class="all-video_container_item">
            <a class="" href="https://www.xvideos.com/embedframe/15057399"><img src="https://static-hw.xvideos.com/v3/img/player/icon-play.svg"></a>
            <img src="https://img-hw.xvideos-cdn.com/videos/thumbs169lll/5d/81/58/5d81584f2312dd603508168cd3c30d20/5d81584f2312dd603508168cd3c30d20.28.jpg">
          </div>

          <div class="all-video_container_item">
            <a class="" href="https://www.xvideos.com/embedframe/15057399"><img src="https://static-hw.xvideos.com/v3/img/player/icon-play.svg"></a>
            <img src="https://img-hw.xvideos-cdn.com/videos/thumbs169lll/5d/81/58/5d81584f2312dd603508168cd3c30d20/5d81584f2312dd603508168cd3c30d20.28.jpg">
          </div>

          <div class="all-video_container_item">
            <a class="" href="https://www.xvideos.com/embedframe/15057399"><img src="https://static-hw.xvideos.com/v3/img/player/icon-play.svg"></a>
            <img src="https://img-hw.xvideos-cdn.com/videos/thumbs169lll/5d/81/58/5d81584f2312dd603508168cd3c30d20/5d81584f2312dd603508168cd3c30d20.28.jpg">
          </div>

          <div class="all-video_container_item">
            <a class="" href="https://www.xvideos.com/embedframe/15057399"><img src="https://static-hw.xvideos.com/v3/img/player/icon-play.svg"></a>
            <img src="https://img-hw.xvideos-cdn.com/videos/thumbs169lll/5d/81/58/5d81584f2312dd603508168cd3c30d20/5d81584f2312dd603508168cd3c30d20.28.jpg">
          </div>

          <div class="all-video_container_item">
            <a class="" href="https://www.xvideos.com/embedframe/15057399"><img src="https://static-hw.xvideos.com/v3/img/player/icon-play.svg"></a>
            <img src="https://img-hw.xvideos-cdn.com/videos/thumbs169lll/5d/81/58/5d81584f2312dd603508168cd3c30d20/5d81584f2312dd603508168cd3c30d20.28.jpg">
          </div>
        </div>
        <div class="slider-container all-video_container">

          <div class="all-video_container_item">
            <a class="" href="https://www.xvideos.com/embedframe/15057399"><img src="https://static-hw.xvideos.com/v3/img/player/icon-play.svg"></a>
            <img src="https://img-hw.xvideos-cdn.com/videos/thumbs169lll/5d/81/58/5d81584f2312dd603508168cd3c30d20/5d81584f2312dd603508168cd3c30d20.28.jpg">
          </div>

          <div class="all-video_container_item">
            <a class="" href="https://www.xvideos.com/embedframe/15057399"><img src="https://static-hw.xvideos.com/v3/img/player/icon-play.svg"></a>
            <img src="https://img-hw.xvideos-cdn.com/videos/thumbs169lll/5d/81/58/5d81584f2312dd603508168cd3c30d20/5d81584f2312dd603508168cd3c30d20.28.jpg">
          </div>

          <div class="all-video_container_item">
            <a class="" href="https://www.xvideos.com/embedframe/15057399"><img src="https://static-hw.xvideos.com/v3/img/player/icon-play.svg"></a>
            <img src="https://img-hw.xvideos-cdn.com/videos/thumbs169lll/5d/81/58/5d81584f2312dd603508168cd3c30d20/5d81584f2312dd603508168cd3c30d20.28.jpg">
          </div>

          <div class="all-video_container_item">
            <a class="" href="https://www.xvideos.com/embedframe/15057399"><img src="https://static-hw.xvideos.com/v3/img/player/icon-play.svg"></a>
            <img src="https://img-hw.xvideos-cdn.com/videos/thumbs169lll/5d/81/58/5d81584f2312dd603508168cd3c30d20/5d81584f2312dd603508168cd3c30d20.28.jpg">
          </div>

          <div class="all-video_container_item">
            <a class="" href="https://www.xvideos.com/embedframe/15057399"><img src="https://static-hw.xvideos.com/v3/img/player/icon-play.svg"></a>
            <img src="https://img-hw.xvideos-cdn.com/videos/thumbs169lll/5d/81/58/5d81584f2312dd603508168cd3c30d20/5d81584f2312dd603508168cd3c30d20.28.jpg">
          </div>

        </div>
        <div class="slider-container all-video_container">

          <div class="all-video_container_item">
            <a class="" href="https://www.xvideos.com/embedframe/15057399"><img src="https://static-hw.xvideos.com/v3/img/player/icon-play.svg"></a>
            <img src="https://img-hw.xvideos-cdn.com/videos/thumbs169lll/5d/81/58/5d81584f2312dd603508168cd3c30d20/5d81584f2312dd603508168cd3c30d20.28.jpg">
          </div>

          <div class="all-video_container_item">
            <a class="" href="https://www.xvideos.com/embedframe/15057399"><img src="https://static-hw.xvideos.com/v3/img/player/icon-play.svg"></a>
            <img src="https://img-hw.xvideos-cdn.com/videos/thumbs169lll/5d/81/58/5d81584f2312dd603508168cd3c30d20/5d81584f2312dd603508168cd3c30d20.28.jpg">
          </div>

          <div class="all-video_container_item">
            <a class="" href="https://www.xvideos.com/embedframe/15057399"><img src="https://static-hw.xvideos.com/v3/img/player/icon-play.svg"></a>
            <img src="https://img-hw.xvideos-cdn.com/videos/thumbs169lll/5d/81/58/5d81584f2312dd603508168cd3c30d20/5d81584f2312dd603508168cd3c30d20.28.jpg">
          </div>

          <div class="all-video_container_item">
            <a class="" href="https://www.xvideos.com/embedframe/15057399"><img src="https://static-hw.xvideos.com/v3/img/player/icon-play.svg"></a>
            <img src="https://img-hw.xvideos-cdn.com/videos/thumbs169lll/5d/81/58/5d81584f2312dd603508168cd3c30d20/5d81584f2312dd603508168cd3c30d20.28.jpg">
          </div>

          <div class="all-video_container_item">
            <a class="" href="https://www.xvideos.com/embedframe/15057399"><img src="https://static-hw.xvideos.com/v3/img/player/icon-play.svg"></a>
            <img src="https://img-hw.xvideos-cdn.com/videos/thumbs169lll/5d/81/58/5d81584f2312dd603508168cd3c30d20/5d81584f2312dd603508168cd3c30d20.28.jpg">
          </div>

        </div>
        <div class="slider-container all-video_container">

          <div class="all-video_container_item">
            <a class="" href="https://www.xvideos.com/embedframe/15057399"><img src="https://static-hw.xvideos.com/v3/img/player/icon-play.svg"></a>
            <img src="https://img-hw.xvideos-cdn.com/videos/thumbs169lll/5d/81/58/5d81584f2312dd603508168cd3c30d20/5d81584f2312dd603508168cd3c30d20.28.jpg">
          </div>

          <div class="all-video_container_item">
            <a class="" href="https://www.xvideos.com/embedframe/15057399"><img src="https://static-hw.xvideos.com/v3/img/player/icon-play.svg"></a>
            <img src="https://img-hw.xvideos-cdn.com/videos/thumbs169lll/5d/81/58/5d81584f2312dd603508168cd3c30d20/5d81584f2312dd603508168cd3c30d20.28.jpg">
          </div>

          <div class="all-video_container_item">
            <a class="" href="https://www.xvideos.com/embedframe/15057399"><img src="https://static-hw.xvideos.com/v3/img/player/icon-play.svg"></a>
            <img src="https://img-hw.xvideos-cdn.com/videos/thumbs169lll/5d/81/58/5d81584f2312dd603508168cd3c30d20/5d81584f2312dd603508168cd3c30d20.28.jpg">
          </div>

          <div class="all-video_container_item">
            <a class="" href="https://www.xvideos.com/embedframe/15057399"><img src="https://static-hw.xvideos.com/v3/img/player/icon-play.svg"></a>
            <img src="https://img-hw.xvideos-cdn.com/videos/thumbs169lll/5d/81/58/5d81584f2312dd603508168cd3c30d20/5d81584f2312dd603508168cd3c30d20.28.jpg">
          </div>

          <div class="all-video_container_item">
            <a class="" href="https://www.xvideos.com/embedframe/15057399"><img src="https://static-hw.xvideos.com/v3/img/player/icon-play.svg"></a>
            <img src="https://img-hw.xvideos-cdn.com/videos/thumbs169lll/5d/81/58/5d81584f2312dd603508168cd3c30d20/5d81584f2312dd603508168cd3c30d20.28.jpg">
          </div>

        </div>
      </div>
      <div class="all-video_pager">
        <a href="#" id="slide-prev">&laquo;</a>
        <a href="#" id="slide-prev">1</a>
        <a href="#" id="slide-prev">2</a>
        <a href="#" id="slide-prev">3</a>
        <a href="#" id="slide-next">&raquo;</a>
      </div>
    </div>
    <div class="all-video_bnr">
      <img src="{{url_for('static', filename='bnr.png')}}" alt="バナー" />
    </div>
  </div>
</div>
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7/jquery.min.js"></script>
<script src="../static/js/nav.js"></script>
{% endblock %}
