{% extends "index.html" %}
{% block content %}
<div id="main_container">
    <div id="new" class="main_video" class="cf">
        <h2>最新動画</h2>
        <ul class="slideSampleThumbnail">
            <li>
                <iframe src="https://www.xvideos.com/embedframe/30973485" frameborder=0 width=100% height=100% scrolling=no allowfullscreen=allowfullscreen></iframe>
            </li>
            <li>
                <iframe src="https://www.xvideos.com/embedframe/16490523" frameborder=0 width=100% height=100% scrolling=no allowfullscreen=allowfullscreen></iframe>
            </li>
            <li>
                <iframe src="https://www.xvideos.com/embedframe/30042231" frameborder=0 width=100% height=100% scrolling=no allowfullscreen=allowfullscreen></iframe>
            </li>
            <li>
                <iframe src="https://www.xvideos.com/embedframe/30190627" frameborder=0 width=100% height=100% scrolling=no allowfullscreen=allowfullscreen></iframe>
            </li>
            <li>
                <iframe src="https://www.xvideos.com/embedframe/29464917" frameborder=0 width=100% height=100% scrolling=no allowfullscreen=allowfullscreen></iframe>
            </li>
            <li>
                <iframe src="https://www.xvideos.com/embedframe/17596727" frameborder=0 width=100% height=100% scrolling=no allowfullscreen=allowfullscreen></iframe>
            </li>
            <li>
                <iframe src="https://www.xvideos.com/embedframe/12441909" frameborder=0 width=100% height=100% scrolling=no allowfullscreen=allowfullscreen></iframe>
            </li>
            <li>
                <iframe src="https://www.xvideos.com/embedframe/17596727" frameborder=0 width=100% height=100% scrolling=no allowfullscreen=allowfullscreen></iframe>
            </li>
            <li>
                <iframe src="https://www.xvideos.com/embedframe/15129139" frameborder=0 width=100% height=100% scrolling=no allowfullscreen=allowfullscreen></iframe>
            </li>
            <li>
                <iframe src="https://www.xvideos.com/embedframe/15057399" frameborder=0 width=100% height=100% scrolling=no allowfullscreen=allowfullscreen></iframe>
            </li>
            <li>
                <iframe src="https://www.xvideos.com/embedframe/15057399" frameborder=0 width=100% height=100% scrolling=no allowfullscreen=allowfullscreen></iframe>
            </li>
            <li>
                <iframe src="https://www.xvideos.com/embedframe/15057399" frameborder=0 width=100% height=100% scrolling=no allowfullscreen=allowfullscreen></iframe>
            </li>
            <li>
                <iframe src="https://www.xvideos.com/embedframe/15057399" frameborder=0 width=100% height=100% scrolling=no allowfullscreen=allowfullscreen></iframe>
            </li>
        </ul>
        <div class="left_button">≪</div>
        <div class="right_button">≫</div>
    </div>

    <div id="recommend" class="main_video" class="cf">
        <h2>おすすめ動画</h2>
        <ul class="slideSampleThumbnail">
            <li>
                <iframe src="https://www.xvideos.com/embedframe/29484583" frameborder=0 width=100% height=100% scrolling=no allowfullscreen=allowfullscreen></iframe>
            </li>
            <li>
                <iframe src="https://www.xvideos.com/embedframe/32978797" frameborder=0 width=100% height=100% scrolling=no allowfullscreen=allowfullscreen></iframe>
            </li>
            <li>
                <iframe src="https://www.xvideos.com/embedframe/28343535" frameborder=0 width=100% height=100% scrolling=no allowfullscreen=allowfullscreen></iframe>
            </li>
            <li>
                <iframe src="https://www.xvideos.com/embedframe/28334637" frameborder=0 width=100% height=100% scrolling=no allowfullscreen=allowfullscreen></iframe>
            </li>
            <li>
                <iframe src="https://www.xvideos.com/embedframe/28620627" frameborder=0 width=100% height=100% scrolling=no allowfullscreen=allowfullscreen></iframe>
            </li>
            <li>
                <iframe src="https://www.xvideos.com/embedframe/28737153" frameborder=0 width=100% height=100% scrolling=no allowfullscreen=allowfullscreen></iframe>
            </li>
            <li>
                <iframe src="https://www.xvideos.com/embedframe/29163047" frameborder=0 width=100% height=100% scrolling=no allowfullscreen=allowfullscreen></iframe>
            </li>
            <li>
                <iframe src="https://www.xvideos.com/embedframe/29165763" frameborder=0 width=100% height=100% scrolling=no allowfullscreen=allowfullscreen></iframe>
            </li>
            <li>
                <iframe src="https://www.xvideos.com/embedframe/29166007" frameborder=0 width=100% height=100% scrolling=no allowfullscreen=allowfullscreen></iframe>
            </li>
            <li>
                <iframe src="https://www.xvideos.com/embedframe/29161799" frameborder=0 width=100% height=100% scrolling=no allowfullscreen=allowfullscreen></iframe>
            </li>
        </ul>
        <div class="left_button">≪</div>
        <div class="right_button">≫</div>
    </div>


    <div id="rank" class="main_video" class="cf">
        <h2>ランキング</h2>
        <ul class="slideSampleThumbnail">
            <li>
                <iframe src="https://www.xvideos.com/embedframe/29603823" frameborder=0 width=100% height=100% scrolling=no allowfullscreen=allowfullscreen></iframe>
            </li>
            <li>
                <iframe src="https://www.xvideos.com/embedframe/29958971" frameborder=0 width=100% height=100% scrolling=no allowfullscreen=allowfullscreen></iframe>
            </li>
            <li>
                <iframe src="https://www.xvideos.com/embedframe/29603871" frameborder=0 width=100% height=100% scrolling=no allowfullscreen=allowfullscreen></iframe>
            </li>
            <li>
                <iframe src="https://www.xvideos.com/embedframe/29210793" frameborder=0 width=100% height=100% scrolling=no allowfullscreen=allowfullscreen></iframe>
            </li>
            <li>
                <iframe src="https://www.xvideos.com/embedframe/30248295" frameborder=0 width=100% height=100% scrolling=no allowfullscreen=allowfullscreen></iframe>
            </li>
            <li>
                <iframe src="https://www.xvideos.com/embedframe/30206947" frameborder=0 width=100% height=100% scrolling=no allowfullscreen=allowfullscreen></iframe>
            </li>
            <li>
                <iframe src="https://www.xvideos.com/embedframe/29205209" frameborder=0 width=100% height=100% scrolling=no allowfullscreen=allowfullscreen></iframe>
            </li>
            <li>
                <iframe src="https://www.xvideos.com/embedframe/29205725" frameborder=0 width=100% height=100% scrolling=no allowfullscreen=allowfullscreen></iframe>
            </li>
            <li>
                <iframe src="https://www.xvideos.com/embedframe/29128573" frameborder=0 width=100% height=100% scrolling=no allowfullscreen=allowfullscreen></iframe>
            </li>
            <li>
                <iframe src="https://www.xvideos.com/embedframe/29048589" frameborder=0 width=100% height=100% scrolling=no allowfullscreen=allowfullscreen></iframe>
            </li>
        </ul>
        <div class="left_button">≪</div>
        <div class="right_button">≫</div>
    </div>

    <div id="recently" class="main_video" class="cf">
        <h2>最近視聴した動画</h2>
        <ul class="slideSampleThumbnail">
            <li>
                <iframe src="https://www.xvideos.com/embedframe/15053187" frameborder=0 width=100% height=100% scrolling=no allowfullscreen=allowfullscreen></iframe>
            </li>
            <li>
                <iframe src="https://www.xvideos.com/embedframe/15031245" frameborder=0 width=100% height=100% scrolling=no allowfullscreen=allowfullscreen></iframe>
            </li>
            <li>
                <iframe src="https://www.xvideos.com/embedframe/15152517" frameborder=0 width=100% height=100% scrolling=no allowfullscreen=allowfullscreen></iframe>
            </li>
            <li>
                <iframe src="https://www.xvideos.com/embedframe/11885403" frameborder=0 width=100% height=100% scrolling=no allowfullscreen=allowfullscreen></iframe>
            </li>
            <li>
                <iframe src="https://www.xvideos.com/embedframe/22120505" frameborder=0 width=100% height=100% scrolling=no allowfullscreen=allowfullscreen></iframe>
            </li>
            <li>
                <iframe src="https://www.xvideos.com/embedframe/25887897" frameborder=0 width=100% height=100% scrolling=no allowfullscreen=allowfullscreen></iframe>
            </li>
            <li>
                <iframe src="https://www.xvideos.com/embedframe/29648601" frameborder=0 width=100% height=100% scrolling=no allowfullscreen=allowfullscreen></iframe>
            </li>
            <li>
                <iframe src="https://www.xvideos.com/embedframe/30327243" frameborder=0 width=100% height=100% scrolling=no allowfullscreen=allowfullscreen></iframe>
            </li>
            <li>
                <iframe src="https://www.xvideos.com/embedframe/28021235" frameborder=0 width=100% height=100% scrolling=no allowfullscreen=allowfullscreen></iframe>
            </li>
            <li>
                <iframe src="https://www.xvideos.com/embedframe/28439743" frameborder=0 width=100% height=100% scrolling=no allowfullscreen=allowfullscreen></iframe>
            </li>
        </ul>
        <div class="left_button">≪</div>
        <div class="right_button">≫</div>
    </div>
</div>
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7/jquery.min.js"></script>
<script src="../static/js/nav.js"></script>
{% endblock %}
