{% extends "index.html" %} {% block content %}
<div id="main_container">

  <div id="new" class="main_video">
    <h2 class="fadeInLeft animated">最新動画</h2>
      <ul class="slideSampleThumbnail cf">
        <!-- ここに動的に入れてる -->
      </ul>
    <div class="left_button">≪</div>
    <div class="right_button">≫</div>
  </div>

  <div id="recommend" class="main_video" class="cf">
    <h2 class="fadeInLeft animated">おすすめ動画</h2>
    <ul class="slideSampleThumbnail">
      <li>
        <a target="_blank" class="" href="https://www.xvideos.com/embedframe/15057399">
          <img src="https://static-hw.xvideos.com/v3/img/player/icon-play.svg">
        </a>
        <img src="https://img-hw.xvideos-cdn.com/videos/thumbs169lll/5d/81/58/5d81584f2312dd603508168cd3c30d20/5d81584f2312dd603508168cd3c30d20.28.jpg">
      </li>
      <li>
        <a target="_blank" class="" href="https://www.xvideos.com/embedframe/16490523">
          <img src="https://static-hw.xvideos.com/v3/img/player/icon-play.svg">
        </a>
        <img src="https://img-hw.xvideos-cdn.com/videos/thumbs169lll/19/30/40/19304072520f56f99be19a75f3e2d260/19304072520f56f99be19a75f3e2d260.26.jpg">
      </li>
      <li>
        <a target="_blank" class="" href="https://www.xvideos.com/embedframe/30042231">
          <img src="https://static-hw.xvideos.com/v3/img/player/icon-play.svg">
        </a>
        <img src="https://images-llnw.xvideos-cdn.com/videos/thumbs169lll/90/77/44/9077446066a3a6f406e7e7d1cd6b23c8/9077446066a3a6f406e7e7d1cd6b23c8.6.jpg">
      </li>
      <li>
        <a target="_blank" class="" href="https://www.xvideos.com/embedframe/30190627">
          <img src="https://static-hw.xvideos.com/v3/img/player/icon-play.svg">
        </a>
        <img src="https://img-egc.xvideos-cdn.com/videos/thumbs169lll/da/13/8a/da138a2ee8eb25398fa9ec4555a3801f/da138a2ee8eb25398fa9ec4555a3801f.23.jpg">
      </li>
      <li>
        <a target="_blank" class="" href="https://www.xvideos.com/embedframe/29464917">
          <img src="https://static-hw.xvideos.com/v3/img/player/icon-play.svg">
        </a>
        <img src="https://img-egc.xvideos-cdn.com/videos/thumbs169lll/64/91/56/64915695c74ac866c2aa9cce210968cf/64915695c74ac866c2aa9cce210968cf.26.jpg">
      </li>
      <li>
        <a target="_blank" class="" href="https://www.xvideos.com/embedframe/17596727">
          <img src="https://static-hw.xvideos.com/v3/img/player/icon-play.svg">
        </a>
        <img src="https://img-hw.xvideos-cdn.com/videos/thumbs169lll/04/26/97/04269751c1599288c1f6286d0cf73398/04269751c1599288c1f6286d0cf73398.13.jpg">
      </li>
      <li>
        <a target="_blank" class="" href="https://www.xvideos.com/embedframe/12441909">
          <img src="https://static-hw.xvideos.com/v3/img/player/icon-play.svg">
        </a>
        <img src="https://img-egc.xvideos-cdn.com/videos/thumbs169lll/f4/fa/c5/f4fac5cb706b85ad63f8acdfa5048f0f/f4fac5cb706b85ad63f8acdfa5048f0f.27.jpg">
      </li>
      <li>
        <a target="_blank" class="" href="https://www.xvideos.com/embedframe/17596727">
          <img src="https://static-hw.xvideos.com/v3/img/player/icon-play.svg">
        </a>
        <img src="https://img-hw.xvideos-cdn.com/videos/thumbs169lll/04/26/97/04269751c1599288c1f6286d0cf73398/04269751c1599288c1f6286d0cf73398.13.jpg">
      </li>
      <li>
        <a target="_blank" class="" href="https://www.xvideos.com/embedframe/15129139">
          <img src="https://static-hw.xvideos.com/v3/img/player/icon-play.svg">
        </a>
        <img src="https://img-hw.xvideos-cdn.com/videos/thumbs169lll/eb/07/bb/eb07bbe63396e66dac3f545760479a3b/eb07bbe63396e66dac3f545760479a3b.4.jpg">
      </li>
      <li>
        <a target="_blank" class="" href="https://www.xvideos.com/embedframe/15129139">
          <img src="https://static-hw.xvideos.com/v3/img/player/icon-play.svg">
        </a>
        <img src="https://img-hw.xvideos-cdn.com/videos/thumbs169lll/5d/81/58/5d81584f2312dd603508168cd3c30d20/5d81584f2312dd603508168cd3c30d20.28.jpg">
      </li>
      <li>
        <a target="_blank" class="" href="https://www.xvideos.com/embedframe/15057399">
          <img src="https://static-hw.xvideos.com/v3/img/player/icon-play.svg">
        </a>
        <img src="https://img-hw.xvideos-cdn.com/videos/thumbs169lll/5d/81/58/5d81584f2312dd603508168cd3c30d20/5d81584f2312dd603508168cd3c30d20.28.jpg">
      </li>
      <li>
        <a target="_blank" class="" href="https://www.xvideos.com/embedframe/15057399">
          <img src="https://static-hw.xvideos.com/v3/img/player/icon-play.svg">
        </a>
        <img src="https://img-hw.xvideos-cdn.com/videos/thumbs169lll/5d/81/58/5d81584f2312dd603508168cd3c30d20/5d81584f2312dd603508168cd3c30d20.28.jpg">
      </li>
      <li>
        <a target="_blank" class="" href="https://www.xvideos.com/embedframe/15057399">
          <img src="https://static-hw.xvideos.com/v3/img/player/icon-play.svg">
        </a>
        <img src="https://img-hw.xvideos-cdn.com/videos/thumbs169lll/5d/81/58/5d81584f2312dd603508168cd3c30d20/5d81584f2312dd603508168cd3c30d20.28.jpg">
      </li>
    </ul>
    <div class="left_button">≪</div>
    <div class="right_button">≫</div>
  </div>


  <div id="rank" class="main_video" class="cf">
    <h2 class="fadeInLeft animated">ランキング</h2>
    <ul class="slideSampleThumbnail">
      <li>
        <a target="_blank" class="" href="https://www.xvideos.com/embedframe/15057399">
          <img src="https://static-hw.xvideos.com/v3/img/player/icon-play.svg">
        </a>
        <img src="https://img-hw.xvideos-cdn.com/videos/thumbs169lll/5d/81/58/5d81584f2312dd603508168cd3c30d20/5d81584f2312dd603508168cd3c30d20.28.jpg">
      </li>
      <li>
        <a target="_blank" class="" href="https://www.xvideos.com/embedframe/16490523">
          <img src="https://static-hw.xvideos.com/v3/img/player/icon-play.svg">
        </a>
        <img src="https://img-hw.xvideos-cdn.com/videos/thumbs169lll/19/30/40/19304072520f56f99be19a75f3e2d260/19304072520f56f99be19a75f3e2d260.26.jpg">
      </li>
      <li>
        <a target="_blank" class="" href="https://www.xvideos.com/embedframe/30042231">
          <img src="https://static-hw.xvideos.com/v3/img/player/icon-play.svg">
        </a>
        <img src="https://images-llnw.xvideos-cdn.com/videos/thumbs169lll/90/77/44/9077446066a3a6f406e7e7d1cd6b23c8/9077446066a3a6f406e7e7d1cd6b23c8.6.jpg">
      </li>
      <li>
        <a target="_blank" class="" href="https://www.xvideos.com/embedframe/30190627">
          <img src="https://static-hw.xvideos.com/v3/img/player/icon-play.svg">
        </a>
        <img src="https://img-egc.xvideos-cdn.com/videos/thumbs169lll/da/13/8a/da138a2ee8eb25398fa9ec4555a3801f/da138a2ee8eb25398fa9ec4555a3801f.23.jpg">
      </li>
      <li>
        <a target="_blank" class="" href="https://www.xvideos.com/embedframe/29464917">
          <img src="https://static-hw.xvideos.com/v3/img/player/icon-play.svg">
        </a>
        <img src="https://img-egc.xvideos-cdn.com/videos/thumbs169lll/64/91/56/64915695c74ac866c2aa9cce210968cf/64915695c74ac866c2aa9cce210968cf.26.jpg">
      </li>
      <li>
        <a target="_blank" class="" href="https://www.xvideos.com/embedframe/17596727">
          <img src="https://static-hw.xvideos.com/v3/img/player/icon-play.svg">
        </a>
        <img src="https://img-hw.xvideos-cdn.com/videos/thumbs169lll/04/26/97/04269751c1599288c1f6286d0cf73398/04269751c1599288c1f6286d0cf73398.13.jpg">
      </li>
      <li>
        <a target="_blank" class="" href="https://www.xvideos.com/embedframe/12441909">
          <img src="https://static-hw.xvideos.com/v3/img/player/icon-play.svg">
        </a>
        <img src="https://img-egc.xvideos-cdn.com/videos/thumbs169lll/f4/fa/c5/f4fac5cb706b85ad63f8acdfa5048f0f/f4fac5cb706b85ad63f8acdfa5048f0f.27.jpg">
      </li>
      <li>
        <a target="_blank" class="" href="https://www.xvideos.com/embedframe/17596727">
          <img src="https://static-hw.xvideos.com/v3/img/player/icon-play.svg">
        </a>
        <img src="https://img-hw.xvideos-cdn.com/videos/thumbs169lll/04/26/97/04269751c1599288c1f6286d0cf73398/04269751c1599288c1f6286d0cf73398.13.jpg">
      </li>
      <li>
        <a target="_blank" class="" href="https://www.xvideos.com/embedframe/15129139">
          <img src="https://static-hw.xvideos.com/v3/img/player/icon-play.svg">
        </a>
        <img src="https://img-hw.xvideos-cdn.com/videos/thumbs169lll/eb/07/bb/eb07bbe63396e66dac3f545760479a3b/eb07bbe63396e66dac3f545760479a3b.4.jpg">
      </li>
      <li>
        <a target="_blank" class="" href="https://www.xvideos.com/embedframe/15129139">
          <img src="https://static-hw.xvideos.com/v3/img/player/icon-play.svg">
        </a>
        <img src="https://img-hw.xvideos-cdn.com/videos/thumbs169lll/5d/81/58/5d81584f2312dd603508168cd3c30d20/5d81584f2312dd603508168cd3c30d20.28.jpg">
      </li>
      <li>
        <a target="_blank" class="" href="https://www.xvideos.com/embedframe/15057399">
          <img src="https://static-hw.xvideos.com/v3/img/player/icon-play.svg">
        </a>
        <img src="https://img-hw.xvideos-cdn.com/videos/thumbs169lll/5d/81/58/5d81584f2312dd603508168cd3c30d20/5d81584f2312dd603508168cd3c30d20.28.jpg">
      </li>
      <li>
        <a target="_blank" class="" href="https://www.xvideos.com/embedframe/15057399">
          <img src="https://static-hw.xvideos.com/v3/img/player/icon-play.svg">
        </a>
        <img src="https://img-hw.xvideos-cdn.com/videos/thumbs169lll/5d/81/58/5d81584f2312dd603508168cd3c30d20/5d81584f2312dd603508168cd3c30d20.28.jpg">
      </li>
      <li>
        <a target="_blank" class="" href="https://www.xvideos.com/embedframe/15057399">
          <img src="https://static-hw.xvideos.com/v3/img/player/icon-play.svg">
        </a>
        <img src="https://img-hw.xvideos-cdn.com/videos/thumbs169lll/5d/81/58/5d81584f2312dd603508168cd3c30d20/5d81584f2312dd603508168cd3c30d20.28.jpg">
      </li>
    </ul>
    <div class="left_button">≪</div>
    <div class="right_button">≫</div>
  </div>

  <div id="recently" class="main_video" class="cf">
    <h2 class="fadeInLeft animated">最近視聴した動画</h2>
    <ul class="slideSampleThumbnail">
      <li>
        <a target="_blank" class="" href="https://www.xvideos.com/embedframe/15057399">
          <img src="https://static-hw.xvideos.com/v3/img/player/icon-play.svg">
        </a>
        <img src="https://img-hw.xvideos-cdn.com/videos/thumbs169lll/5d/81/58/5d81584f2312dd603508168cd3c30d20/5d81584f2312dd603508168cd3c30d20.28.jpg">
      </li>
      <li>
        <a target="_blank" class="" href="https://www.xvideos.com/embedframe/16490523">
          <img src="https://static-hw.xvideos.com/v3/img/player/icon-play.svg">
        </a>
        <img src="https://img-hw.xvideos-cdn.com/videos/thumbs169lll/19/30/40/19304072520f56f99be19a75f3e2d260/19304072520f56f99be19a75f3e2d260.26.jpg">
      </li>
      <li>
        <a target="_blank" class="" href="https://www.xvideos.com/embedframe/30042231">
          <img src="https://static-hw.xvideos.com/v3/img/player/icon-play.svg">
        </a>
        <img src="https://images-llnw.xvideos-cdn.com/videos/thumbs169lll/90/77/44/9077446066a3a6f406e7e7d1cd6b23c8/9077446066a3a6f406e7e7d1cd6b23c8.6.jpg">
      </li>
      <li>
        <a target="_blank" class="" href="https://www.xvideos.com/embedframe/30190627">
          <img src="https://static-hw.xvideos.com/v3/img/player/icon-play.svg">
        </a>
        <img src="https://img-egc.xvideos-cdn.com/videos/thumbs169lll/da/13/8a/da138a2ee8eb25398fa9ec4555a3801f/da138a2ee8eb25398fa9ec4555a3801f.23.jpg">
      </li>
      <li>
        <a target="_blank" class="" href="https://www.xvideos.com/embedframe/29464917">
          <img src="https://static-hw.xvideos.com/v3/img/player/icon-play.svg">
        </a>
        <img src="https://img-egc.xvideos-cdn.com/videos/thumbs169lll/64/91/56/64915695c74ac866c2aa9cce210968cf/64915695c74ac866c2aa9cce210968cf.26.jpg">
      </li>
      <li>
        <a target="_blank" class="" href="https://www.xvideos.com/embedframe/17596727">
          <img src="https://static-hw.xvideos.com/v3/img/player/icon-play.svg">
        </a>
        <img src="https://img-hw.xvideos-cdn.com/videos/thumbs169lll/04/26/97/04269751c1599288c1f6286d0cf73398/04269751c1599288c1f6286d0cf73398.13.jpg">
      </li>
      <li>
        <a target="_blank" class="" href="https://www.xvideos.com/embedframe/12441909">
          <img src="https://static-hw.xvideos.com/v3/img/player/icon-play.svg">
        </a>
        <img src="https://img-egc.xvideos-cdn.com/videos/thumbs169lll/f4/fa/c5/f4fac5cb706b85ad63f8acdfa5048f0f/f4fac5cb706b85ad63f8acdfa5048f0f.27.jpg">
      </li>
      <li>
        <a target="_blank" class="" href="https://www.xvideos.com/embedframe/17596727">
          <img src="https://static-hw.xvideos.com/v3/img/player/icon-play.svg">
        </a>
        <img src="https://img-hw.xvideos-cdn.com/videos/thumbs169lll/04/26/97/04269751c1599288c1f6286d0cf73398/04269751c1599288c1f6286d0cf73398.13.jpg">
      </li>
      <li>
        <a target="_blank" class="" href="https://www.xvideos.com/embedframe/15129139">
          <img src="https://static-hw.xvideos.com/v3/img/player/icon-play.svg">
        </a>
        <img src="https://img-hw.xvideos-cdn.com/videos/thumbs169lll/eb/07/bb/eb07bbe63396e66dac3f545760479a3b/eb07bbe63396e66dac3f545760479a3b.4.jpg">
      </li>
      <li>
        <a target="_blank" class="" href="https://www.xvideos.com/embedframe/15129139">
          <img src="https://static-hw.xvideos.com/v3/img/player/icon-play.svg">
        </a>
        <img src="https://img-hw.xvideos-cdn.com/videos/thumbs169lll/5d/81/58/5d81584f2312dd603508168cd3c30d20/5d81584f2312dd603508168cd3c30d20.28.jpg">
      </li>
      <li>
        <a target="_blank" class="" href="https://www.xvideos.com/embedframe/15057399">
          <img src="https://static-hw.xvideos.com/v3/img/player/icon-play.svg">
        </a>
        <img src="https://img-hw.xvideos-cdn.com/videos/thumbs169lll/5d/81/58/5d81584f2312dd603508168cd3c30d20/5d81584f2312dd603508168cd3c30d20.28.jpg">
      </li>
      <li>
        <a target="_blank" class="" href="https://www.xvideos.com/embedframe/15057399">
          <img src="https://static-hw.xvideos.com/v3/img/player/icon-play.svg">
        </a>
        <img src="https://img-hw.xvideos-cdn.com/videos/thumbs169lll/5d/81/58/5d81584f2312dd603508168cd3c30d20/5d81584f2312dd603508168cd3c30d20.28.jpg">
      </li>
      <li>
        <a target="_blank" class="" href="https://www.xvideos.com/embedframe/15057399">
          <img src="https://static-hw.xvideos.com/v3/img/player/icon-play.svg">
        </a>
        <img src="https://img-hw.xvideos-cdn.com/videos/thumbs169lll/5d/81/58/5d81584f2312dd603508168cd3c30d20/5d81584f2312dd603508168cd3c30d20.28.jpg">
      </li>
    </ul>
    <div class="left_button">≪</div>
    <div class="right_button">≫</div>
  </div>
</div>
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7/jquery.min.js"></script>
<script src="../static/js/nav.js"></script> {% endblock %}